/* navbar*/
li > a {
  display: inline;
  text-decoration: none;
  color: black;
}

.glyphicon-chevron-down {
  margin-left: 5px;
}

.logo_img {
  height: 25px;
  margin-top: 0.5rem;
  margin-left: 1.2rem;
}
ul {
  margin-left: 5.4rem;
}
li  .active {
  background-color: white;
  color: #2285fd;
}
/* hidden menu */
.glyphicon-menu-hamburger {
  margin: 0.8rem;
  color: #2285fd;
}

.navbar-fixed-top {
  background-color: white;
}

/*jumbotron */
.jumbotron {
  background-image: url("../img/sfondo-pesci.svg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 0;
}
.form_text {
  text-align: center;
  margin-left: ;
}
.form_access {
  border: 1px solid gray;
  padding: 2%;
  background-color: white;
  color: black;
  border-radius: 5%;
  margin-top: 2rem;
  height: auto;
  width: auto;
  text-align: center;
  position: relative;
  left: 3%;
}

#text_cent {
  text-align: center;
}
.cl-bl {
  color: #2285fd;
}

/* section one*/
.cont_color {
  background-color: #f3f5f9;
}


.h_1 {
  height: 80px;
  width: 100px;
}
/* section two */

.img_h {
  height: 80px;
  width: 100px;
}

.list-unstyled {
  padding: 2rem;
  border-left: 2px solid #ddd;
}
.list-unstyled> li {
 padding: 5px;
}

.col_p {
  padding: 2%;
}

.col_p> img {
  height: 40px;
  width: 50px;
}

.pos_re {
  position: relative;
  bottom: 15rem;
}

/* section three */

.pos_2 {
  padding: 5%;
}

.img_3 {
  width: 90%;
  height: 100%;
}

/* secrtion five */
.content {
  margin-left: 25%;
  color: white;
}

.blu_nl {
  background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
  color: white;
  padding: 5%;
}

.mg_bt {
  border-bottom: solid 1px white;
}


/* six */
.pos_5 {
  padding: 5%;
}

.mg_lf {
  margin: 2% 20%;
}


/* seven*/

.blu_cl {
  background-color: #015aff;
  color: white;
  padding: 5%;
}

.btn-default_1 {
  margin: 3%;
  margin-left: 44%;
  color: #015aff;
}

/* footer*/

.bg-col {
  background-color: #010e28;
}
