li, a {
  display: inline;
  text-decoration: none;
  color: black;
}
.glyphicon-chevron-down {
  margin-left: 5px;
}

li  .active {
  background-color: white;
  color: #2285fd;
}
/* hidden menu */
.glyphicon-menu-hamburger {
  margin: 0.8rem;
  color: #2285fd;
}
